<!doctype html>
<html>
<head>
    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0,initial-scale=1.0"/>
    <title>课程系统后台登入界面</title>
    <style>
        html,body{
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
        .bg{
            height: 100%;
            width: 100%;
            background-color: blueviolet;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        form{
            height: 20%;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: white;
        }
    </style>
</head>
<body>
    <div class="bg">
        <form style="border: 0px solid rgb(0, 238, 255)" action='/login', method='POST'>
            <div>
            账号: <input type="text" name="username">
            </div>
            <div>
            密码: <input name="password" type='password'>
            </div>
            <div>
            权限: <input name="auth" type='text'>
            </div>
            <div>
            <input type="submit" value="登入">
            </div>
        </form>
    </div>
</body>
</html>
